<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Add New Product</title>
</head>

<body>
    <div class="flex h-screen items-center justify-center">
        <form action="/product/insert" method="post" enctype="multipart/form-data" class="w-1/4">
            <div class="font-semibold text-lg p-2 text-center">Add New Product</div>
            <div class="mb-4">
                <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Product Name</label>
                <input type="text" id="name" name="name" class="w-full border rounded px-3 py-2">
            </div>

            <div class="mb-4">
                <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Price</label>
                <input type="text" id="price" name="price" class="w-full border rounded px-3 py-2">
            </div>

            <div class="mb-4">
                <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Image</label>
                <input type="file" id="img" name="img" class="w-full border rounded px-3 py-2">
            </div>

            <div class="mb-4">
                <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Description</label>
                <textarea type="text" id="desc" name="desc" class="w-full border rounded px-3 py-2" rows="5"></textarea>
            </div>

            <button class="border p-2 w-16 w-full text-white bg-green-400 rounded-md">Create</button>
        </form>
    </div>
</body>

</html>